{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container text-center">
            <p>Inspirée par les contes, mythes et légendes, j’illustre avec passion la vie de personnages de tous univers.</p>
        </div>

    </div>
{% endblock %}

{% block title %} A propos{% endblock %}

