{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="container justify-content-center">
        <ul>
            <li>Nom d'utilisateur: {{ app.user.username }}</li>
            <li>Instagram:</li>
        </ul>
    </div>
{% endblock %}

{% block title %}Profil{% endblock %}



